<div>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Yomi</a>
      </div>
      <ul class="nav navbar-nav" style="float:right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#About">About Us</a></li>
        <li><a href="#Features">Features</a></li>
        <li><a href="#ScreenShots">ScreenShots</a></li>
        <li><a href="#Pricing">Pricing</a></li>
        <li><a href="#Reviws">Reviws</a></li>
        <li><a href="#Download">Download</a></li>
        <li><a href="#Contact">Contact</a></li>

      </ul>
    </div>
  </nav>

  <div style="background-color: blue; margin-top: -2%;">


  </div>
  <div class="row" style="background-color: blue; color:white;padding-top: 0px !important;">
    <div class="col-sm-3 col-md-6 col-lg-6">

      <h1>Embrance Your New Perfect <br>App</h1>
      <h5> Tempor amet ea rebum dolor clita ea eirmod. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Et
        no ea dolor clita nonumy diam. Tempor accusam sea ipsum eos. Voluptua takimata takimata sanctus est sed nonumy
        nonumy amet. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Voluptua takimata takimata sanctus
        est sed nonumy nonumy amet.</h5>
    </div>

    <div class="col-sm-3 col-md-6 col-lg-6">
      <img
        style="width: 50%;height: 50%; transform: rotateY(180deg);  display: block; margin-left: auto; margin-right: auto;"
        src="../assets/about-us.png">

    </div>

    <div class="col-sm-6 col-sm-push-3" style="margin-left: 15%;">
      <button type="button" class="btn btn-primary">Get App Now</button>
    </div>

  </div>


  <div class="row" style="margin-top: 2%;">


    <div class="col-sm-3 col-md-6 col-lg-6">
      <img style="width: 50%;height: 50%;  display: block; margin-left: auto; margin-right: auto;"
        src="../assets/about-us.png">

    </div>
    <div class="col-sm-3 col-md-6 col-lg-6">



      <h3 id="About"> About The App </h3>
      <h5>


        Tempor amet ea rebum dolor clita ea eirmod. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Et no
        ea dolor clita nonumy diam. Tempor accusam sea ipsum eos. Voluptua takimata takimata sanctus est sed nonumy
        nonumy amet. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Voluptua takimata takimata sanctus
        est sed nonumy nonumy amet.
        Tempor amet ea rebum dolor clita ea eirmod. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Et no
        ea dolor clita nonumy diam. Tempor accusam sea ipsum eos. Voluptua takimata takimata sanctus est sed nonumy
        nonumy amet. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Voluptua takimata takimata sanctus
        est sed nonumy nonumy amet.
        Tempor amet ea rebum dolor clita ea eirmod. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Et no
        ea dolor clita nonumy diam. Tempor accusam sea ipsum eos. Voluptua takimata takimata sanctus est sed nonumy
        nonumy amet. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Voluptua takimata takimata sanctus
        est sed nonumy nonumy amet.
        Tempor amet ea rebum dolor clita ea eirmod. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Et no
        ea dolor clita nonumy diam. Tempor accusam sea ipsum eos. Voluptua takimata takimata sanctus est sed nonumy
        nonumy amet. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Voluptua takimata takimata sanctus
        est sed nonumy nonumy amet.
        Tempor amet ea rebum dolor clita ea eirmod. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Et no
        ea dolor clita nonumy diam. Tempor accusam sea ipsum eos. Voluptua takimata takimata sanctus est sed nonumy
        nonumy amet. Voluptua takimata takimata sanctus est sed nonumy nonumy amet. Voluptua takimata takimata sanctus
        est sed nonumy nonumy amet.

      </h5>


      <button class="text-center" type="button" class="btn btn-primary">Download Now</button>
    </div>




  </div>
</div>



<div class="thirdBlock" style="background-color: #e0ebeb;">
  <div class="text-center">
    <h1 id="Features">Features</h1>
  </div>
  <div class="text-center" style="margin-top: 2%">
    <div>Accusam nonumy ea sed dolor dolore ipsum et ut diam, sea vero ipsum magna aliquyam dolor at sadipscing magna,
      vero. </div>
  </div>

  <div class="row text">
    <div class="col-sm-3 col-md-6 col-lg-5" style="margin-left:12%;">

      <div class="col-sm-3 col-md-6 col-lg-5" style="color: black;">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" style="color:blue"><i class="fa fa-heart" aria-hidden="true"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted" style="color:blue">Made By love</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" style="color:blue"><i class="fa fa-heart" aria-hidden="true"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted" style="color:blue">Fully Responsible</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>



      </div>

      <div class="col-sm-3 col-md-6 col-lg-5">

        <div class="card" style="width: 18rem;">
          <div class="card-body" style="color:blue">
            <h5 class="card-title"><i class="fa fa-television" aria-hidden="true"></i>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted" style="color:blue">Modern Resposive</h6>
            <p class="card-text" style="color: black;">Some quick example text to build on the card title and make up
              the bulk of the card's
              content.</p>
          </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" style="color:blue"><i class="fa fa-firefox" aria-hidden="true"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted" style="color:blue">Cross Brower Support</h6>
            <p class="card-text" style="color: black;">Some quick example text to build on the card title and make up
              the bulk of the card's
              content.</p>
          </div>
        </div>




      </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-5">
      <img style="width: 50%;height: 50%;  display: block; margin-left: auto; margin-right: auto;"
        src="../assets/feature.png">
    </div>
  </div>
</div>

<div class="fourthBlock" style="background-color: #e0ebeb;">
  <div class="text-center">
    <h1 id="ScreenShots">ScreenShots</h1>
  </div>
  <div style="width: 60%; height: 58%; margin-left:19%; padding:0%;">
    <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
      [imageSize]="{width: '50%', height: 500}" slideImage="1"></ng-image-slider>
  </div>


</div>

<div style="text-align: center;" style="background-color: #f0f5f5;">
  <div style="margin-left: 5%;margin-right: 5%;">
    <div class="text-center">
      <h1 id="Pricing">Pricing</h1>
    </div>
    <div class="text-center" style="margin-top: 2%;margin-bottom: 2%;">
      <div>Accusam nonumy ea sed dolor dolore ipsum et ut diam, sea vero ipsum magna aliquyam dolor at sadipscing magna,
        vero. </div>
    </div>



    <div class="row" style=" margin-left: 14%;
  margin-right: auto;
  text-align: center;">
      <div class="col-sm-3 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem; float:right;">
          <div class="card-body">
            <h3 class="card-title" style="color: blue;">Started <br> $ Zero </h3>
            <h5 class="card-subtitle mb-2 text-muted">1 gb of space</h5>
            <h5 class="card-subtitle mb-2 text-muted">Safe Reliable Backup</h5>
            <h5 class="card-subtitle mb-2 text-muted">Access from any where </h5>
            <h5 class="card-subtitle mb-2 text-muted"> Simple Life sharing</h5>
            <button type="button" class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;float: right ;">
          <div class="card-body">
            <h3 class="card-title" style="color: blue;">Prenimum <br> $ 40 </h3>
            <h5 class="card-subtitle mb-2 text-muted">1 gb of space</h5>
            <h5 class="card-subtitle mb-2 text-muted">Safe Reliable Backup</h5>
            <h5 class="card-subtitle mb-2 text-muted">Access from any where </h5>
            <h5 class="card-subtitle mb-2 text-muted"> Simple Life sharing</h5>

            <button type="button" class="btn btn-primary">Primary</button>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;float: right;">
          <div class="card-body">
            <h3 class="card-title" style="color: blue;">Unlimited <br> $ 40 </h3>
            <h5 class="card-subtitle mb-2 text-muted">1 gb of space</h5>
            <h5 class="card-subtitle mb-2 text-muted">Safe Reliable Backup</h5>
            <h5 class="card-subtitle mb-2 text-muted">Access from any where </h5>
            <h5 class="card-subtitle mb-2 text-muted"> Simple Life sharing</h5>

            <button type="button" class="btn btn-primary">Primary</button>
          </div>
        </div>
      </div>
    </div>




  </div>

</div>

<div>

  <div class="fourthBlock">
    <div class="text-center">
      <h1 style="color: black;" id="Reviws">Review</h1>
    </div>
    <div class="text-center" style="color: black;">
      <div>Accusam nonumy ea sed dolor dolore ipsum et ut diam, sea vero ipsum magna aliquyam dolor at sadipscing magna,
        vero. </div>
    </div>

    <div style="width: 60%; height: 58%; margin-left:19%; padding:0%; margin-top: 2%;">
      <ng-image-slider #nav [images]="imageObject2" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '50%', height: 500}" slideImage="1"></ng-image-slider>
    </div>
  </div>
</div>



<div class="secondlastBlock" style="background-color:#f0f5f5 ;">
  <div class="text-center">
    <h1 id="Download">Download The App</h1>
  </div>
  <div class="text-center" style="margin-top: 2%;margin-bottom: 2%;">
    <div>Accusam nonumy ea sed dolor dolore ipsum et ut diam, sea vero ipsum magna aliquyam dolor at sadipscing magna,
      vero. </div>
  </div>

  <div class="text-center" style="margin-top:5%">
    <span style="margin-left: 1%;"> <button type="button" class="btn btn-primary">Download on the
        PlayStore</button></span>
    <span style="margin-left: 1%;"> <button type="button" class="btn btn-primary">Download on the Ios</button></span>
    <span style="margin-left: 1%;"> <button type="button" class="btn btn-primary">Download on the
        Windows</button></span>
  </div>
</div>


<div class="lastBlock" style="background-color:#f0f5f5 ;">
  <div class="text-center">
    <h1 style="color:black" id="Contact">Contact us</h1>
  </div>

  <div class="text-center" style="margin-bottom: 2%;">
    <div>Accusam nonumy ea sed dolor dolore ipsum et ut diam, sea vero ipsum magna aliquyam dolor at sadipscing magna,
      vero. </div>
  </div>





  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">


      <form>
        <div class="form-row">
          <div class="form-group col-md-6">

            <input type="email" class="form-control" placeholder="Full Name">
          </div>
          <div class="form-group col-md-6">

            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
        </div>
        <div class="form-group col-md-12">

          <input type="text" class="form-control" id="inputAddress" placeholder="Your Subject">
        </div>
        <div class="form-group col-md-12">

          <textarea class="form-control" placeholder="Message For Me" id="exampleFormControlTextarea1"
            rows="3"></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Send the msg</button>
      </form>



    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <h3>
        Address Info
      </h3>

      <h4>Address 17 steer name heree, london</h4>
      <h4>phone number +85522222/+566661</h4>
      <h4>Email abc@gmail.com </h4>
      <h4>Website: www.yomi.com</h4>


    </div>

  </div>








</div>